/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
/* Definition of itag shadow-css is done by defining a `dummy` css-rule    */
/* for the dummy-element: `itag-css` --> its property (also dummy) `i-tag` /*
/* will define which itag will be css-shadowed                             /*
/* ======================================================================= */
itag-css {
    i-tag: i-scroller;  /* set the property-value to the proper itag */
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */


/* ================================= */
/* set invisiblity when not rendered */
/* ================================= */
i-scroller:not(.itag-rendered) {
    /* don't set visibility to hidden --> you cannot set a focus on those items */
    opacity: 0 !important;
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    z-index: -1;
}

i-scroller:not(.itag-rendered) * {
    opacity: 0 !important;
}
/* ================================= */

i-scroller {
    margin: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border: solid 1px #000;
    min-width: 1em;
    min-height: 1em;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i-scroller >span,
i-scroller span.item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i-scroller >span {
    position: relative;
    display: block;
    width: 100%;
}

i-scroller[horizontal="true"] >span {
    width: inherit;
    height: 100%;
}

i-scroller span.item {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

i-scroller span.item.empty {
    opacity: 0;
}